.createToDoContainer {
  display: flex;
  gap: 0.5rem;
  transform: translateY(-50%);
}

.input {
  background-color: var(--gray-500);
  color: var(--gray-300);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  flex-grow: 1;
}

.button {
  background-color: var(--blue-dark);
  min-width: 5.625rem;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  height: 3.25rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--blue);
}

@media (max-width: 500px) {
  .createToDoContainer {
    flex-direction: column;
  }
}
